.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black
}
.dice-edge {
  width: 4rem;
  height: 4rem;
  -webkit-border-radius:5%;
  -moz-border-radius:5%;
  border-radius:5%;
  background-color: gray;
  outline: none !important;
  border: 0 !important;
  margin-bottom: 2px;
  &:hover, &:active, &:focus{
    outline: none !important;
    border: 0 !important;
  }
}

.slim{
  padding: 0.5rem;
}