<div>
  <div style="width: 80vw">
    <md-slider-container ng-repeat="row in $ctrl.data">
      <span>R</span>
      <div style="overflow:hidden;padding:20px; width: 500px">
        <md-slider
                ng-change="$ctrl.slider($index)"
                ng-mousedown="$ctrl.sliderDown($index)"
                flex min="0" max="100" step="0.01" ng-model="row.Percent" aria-label="red" id="red-slider">
        </md-slider>
      </div>
      <md-input-container>
        <input flex min="0" max="100" step="0.01"
               style="width: 10rem"
               type="number" ng-model="row.Percent" aria-label="red" aria-controls="red-slider">
      </md-input-container>
    </md-slider-container>
  </div>
<div>{{$ctrl.total}}</div>
</div>
