<div ng-cloak>
    <md-content layout="row" flex>
        <md-card flex layout="column">
            <md-card-title>
                DEMO GPA
            </md-card-title>
            <md-card-content layout="column">

                <div layout="row" layout-align="start center">
                    <div flex="10" class="gpa--header" ng-repeat="i in [1,2,3,4,5]">
                        <span>{{i}}</span>
                        <md-icon class="material-icons">delete</md-icon>
                    </div>
                    <div flex="5">
                        <md-icon class="material-icons">add</md-icon>
                    </div>
                </div>

            </md-card-content>
        </md-card>
    </md-content>
</div>